.input-field:after {
    content: attr(data-error);
    color: #F44336;
    position: absolute;
    left: 0.9rem;
    bottom: -0.9rem;
    font-size: 0.9rem;
}

#toast-container {
    right: 5%;
    left: unset;
}
