html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: var(--surface-color);
}

/* materialized styles */
.header {
    font-weight: 300;
}

h1.header {
    font-size: 2rem;
    padding: 1rem;
}

h2.header {
    font-size: 1.8rem;
    padding: 0.9rem;
}

h3.header {
    font-size: 1.64rem;
    padding: 0.8rem;
}

h4.header {
    font-size: 1.46rem;
    padding: 0.7rem;
}

h5.header {
    font-size: 1.28rem;
    padding: 0.6rem;
}

h6.header {
    font-size: 1.1rem;
    padding: 0.5rem;
}


#login-body {
    height: 100vh;
}

#login-panel {
    width: 300px;
    margin: auto;
    background-color: var(--background-color-level-4dp);
}

#login-panel .card-image {
    height: 50px;
    background: var(--login-header-background);
}

#login-panel .login-form .input-field {
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
}

#login-panel .login-form input[type="text"],
#login-panel .login-form input[type="password"] {
    height: 2em;
    margin-bottom: 1em;
}

#login-panel .login-form .input-field label {
    transform: translateY(4px);
}

#login-panel .login-form .input-field label.active {
    transform: translateY(-70%) scale(0.8);
}

#credentials-login-button {
    width: 100%;
    margin-top: 7px;
}

#login-panel .login-info-label {
    line-height: 1em;
    font-size: 0.9em;
    height: 2em;

    text-align: center;
}

#login-panel .login-info-label.error {
    color: #F44336;
}

#login-panel .login-google_oauth .login-info-label {
    margin-top: 16px;
}

.oauth-button {
    height: 40px;
    width: 188px;
    display: block;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 36px;

    font-size: 14px;
    font-weight: 500;
    color: var(--font-color-main);

    border-radius: 2px;
    box-shadow: var(--shadow-4dp);
    border: none;

    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--background-color-level-4dp);

    outline: 0;
}

.oauth-button:hover,
.oauth-button:active {
    box-shadow: var(--shadow-6dp);
}

.oauth-button:active,
.oauth-button:focus {
    background-color: var(--focus-color-solid);
}

.oauth-button[disabled] {
    color: var(--font-color-disabled);
}

#login-google_oauth-button {
    background-image: url('../g-logo-plain.png');
}

#login-panel .login-gitlab .login-info-label {
    margin-top: 16px;
}

#login-gitlab-button {
    background-image: url('../gitlab-icon-rgb.png');
    background-position-x: 6px;
}
