html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #eee;
}

/* materialized styles */
.header {
    font-weight: 300;
}

h1.header {
    font-size: 2rem;
    padding: 1rem;
}

h2.header {
    font-size: 1.8rem;
    padding: 0.9rem;
}

h3.header {
    font-size: 1.64rem;
    padding: 0.8rem;
}

h4.header {
    font-size: 1.46rem;
    padding: 0.7rem;
}

h5.header {
    font-size: 1.28rem;
    padding: 0.6rem;
}

h6.header {
    font-size: 1.1rem;
    padding: 0.5rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browsertele-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    color: rgba(0, 0, 0, 0.87);
}

input[type=checkbox]:not(.browser-default) + span {
    color: #9e9e9e;
}

.btn-flat:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#login-body {
    height: 100vh;
}

#login-panel {
    width: 300px;
    margin: auto;

    border-top: 50px solid;
    -moz-border-image: url("../titleBackground.jpg") 300;
    -webkit-border-image: url("../titleBackground.jpg") 300;
    -o-border-image: url("../titleBackground.jpg") 300;
    border-image: url("../titleBackground.jpg") 300;
}

#login-panel .login-form .input-field {
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
}

#login-panel .login-form input[type="text"],
#login-panel .login-form input[type="password"] {
    height: 2em;
    margin-bottom: 1em;
}

#login-panel .login-form .input-field label {
    transform: translateY(4px);
}

#login-panel .login-form .input-field label.active {
    transform: translateY(-70%) scale(0.8);
}

#credentials-login-button {
    width: 100%;
    margin-top: 7px;
}

#login-panel .login-info-label {
    line-height: 1em;
    font-size: 0.9em;
    height: 2em;

    text-align: center;
}

#login-panel .login-info-label.error {
    color: #F44336;
}

#login-panel .login-google_oauth .login-info-label {
    margin-top: 16px;
}

#login-google_oauth-button {
    height: 40px;
    width: 188px;
    padding-left: 34px;
    margin: auto;
    margin-top: 34px;
    display: block;

    font-size: 14px;
    font-weight: 500;
    color: #757575;

    border-radius: 2px;
    box-shadow: 0 1px 3px -1px #202020;
    border: none;

    background-image: url('../g-logo-plain.png');
    background-color: white;
    background-position-y: 50%;
    background-position-x: -4px;
    background-size: 48px;
    background-repeat: no-repeat;
}

#login-google_oauth-button:active {
    background-color: #EEE;
    background-image: url('../g-logo-plain-pressed.png');
}

#login-google_oauth-button[disabled] {
    color: #B0B0B0;
}

/*noinspection CssInvalidPropertyValue,CssOverwrittenProperties*/
.log-content {
    display: block;
    overflow-y: auto;
    height: 100%;

    font-size: .875em;

    padding: 1.5em;

    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.main-content-header {
    background: url('../titleBackground.jpg') no-repeat center;
    background-size: cover;
}