<!DOCTYPE html>
<html lang="en">

<head>
    <title>Script server</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bash_styles.css">

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</head>

<body>
<div id='index-page'></div>
</body>

</html>