body {
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.page {
    height: 100vh;
}

.page-title {
    width: 100%;
    height: 64px;
    line-height: 64px;

    padding-left: 32px;

    font-size: 18px;
    font-weight: 400;

    vertical-align: baseline;

    color: #FFF;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.page .section {
    height: calc(100vh - 64px);
    width: 100%;
    overflow: auto;
}

.executions-log-table tbody > tr {
    cursor: pointer;
}

.executions-log-table .start_time-column {
    width: 25%;
}

.executions-log-table .user-column {
    width: 25%;
}

.executions-log-table .script-column {
    width: 35%;
}

.executions-log-table .status-column {
    width: 15%;
}

.execution-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.execution-details .readonly-field {
    margin-top: 6px;
    margin-bottom: 16px;

    display: inline-block;
    width: 200px;
}

.execution-details .readonly-field.long {
    width: 600px;
    max-width: 100%;
}

.execution-details .log-panel {
    margin-top: 4px;
}