html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#scriptsPanel {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#scriptsList {
    border-right: 1px solid #C8C8C8;
    width: 300px;
}

#scriptsList > .collection {
    overflow: auto;
    overflow-wrap: normal;
    border: none;
    margin: 0;
}

#scriptsList > .collection .collection-item {
    border: none;
}

#listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#githubLink {
    margin-right: 15px;
    display: block;
}

#contentPanel {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    #scriptsPanel {
        display: flex;
        flex-flow: column;
    }

    #contentPanel {
        margin-top: 17px;
        border-top: 1px solid #C8C8C8;
        border-left: none;
    }
}

#scriptHeader {
    border-bottom: 1px solid #C8C8C8;

    background: url("../images/titleBackground.jpg") no-repeat center;
    background-size: cover;
}

#scriptDescription {
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 15px;
    margin-bottom: 0;
}

#parametersPanel {
    margin-top: 15px;
}

#parametersPanel .parameter {
    margin-left: 24px;
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 20px;

    display: inline-block;
}

#parametersPanel .parameter input {
    margin: 0;
}

#logPanel {
    overflow-y: auto;
    flex: 1;

    background: #f4f2f0;
    padding: 1.5em;
    font-size: .875em;
    width: calc(100% - 24px);
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 7px;
    border: solid 1px rgba(51, 51, 51, 0.12);
    border-radius: 2px;

    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#logPanel.shadow-top-bottom {
    box-shadow: 0 7px 8px -4px #888888 inset, 0 -7px 8px -4px #888888 inset;
    -webkit-box-shadow: 0 7px 8px -4px #888888 inset, 0 -7px 8px -4px #888888 inset;
    -moz-box-shadow: 0 7px 8px -4px #888888 inset, 0 -7px 8px -4px #888888 inset;
}

#logPanel.shadow-top {
    box-shadow: 0 7px 8px -4px #888888 inset;
    -webkit-box-shadow: 0 7px 8px -4px #888888 inset;
    -moz-box-shadow: 0 7px 8px -4px #888888 inset;
}

#logPanel.shadow-bottom {
    box-shadow: 0 -7px 8px -4px #888888 inset;
    -webkit-box-shadow: 0 -7px 8px -4px #888888 inset;
    -moz-box-shadow: 0 -7px 8px -4px #888888 inset;
}

#contentPanel input {
    height: 1.5em;
    width: auto;
}

#contentPanel .input-field label {
    top: 0;
}

#contentPanel .input-field [type="checkbox"] + label {
    left: 0;
    padding-left: 28px;
}

#contentPanel .input-field label.active {
    transform: translateY(-90%);
}

#executeButton {
    width: 80%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: 17px;
    display: inline;
}

#stopButton {
    width: calc(96% - 80% - 12px - 5px); /* width without margins - executeButton - margin between button - rounding error */
    margin-left: 12px;
    margin-right: 2%;
    margin-top: 17px;
    display: inline;
}

#contentPanel #inputPanel {
    width: calc(100% - 24px);
    margin: 5px 12px;
}

#contentPanel #inputPanel input {
    margin: 0;
    width: 100%;
}

#validationPanel {
    overflow-y: auto;
    flex: 1;

    margin-right: 12px;
    margin-left: 12px;
    margin-top: 17px;
    margin-bottom: 7px;
}

#validationErrorsList {
    margin-left: 17px;
}

#validationErrorsList li {
    color: #F44336;
}

#errorPanel {
    margin-left: 17px;
    color: #F44336;
}

/* materialized styles */
.header {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1.header {
    font-size: 2rem;
    padding: 1rem;
}

h2.header {
    font-size: 1.82rem;
    padding: 0.9rem;
}

h3.header {
    font-size: 1.64rem;
    padding: 0.8rem;
}

h4.header {
    font-size: 1.46rem;
    padding: 0.7rem;
}

h5.header {
    font-size: 1.28rem;
    padding: 0.6rem;
}

h6.header {
    font-size: 1.1rem;
    padding: 0.5rem;
}

#parametersPanel input[type="text"]:invalid,
#parametersPanel input[type="number"]:invalid {
    border-bottom: 1px solid #e51c23;
    box-shadow: 0 1px 0 0 #e51c23;
}

#parametersPanel .input-field:after {
    content: attr(data-error);
    color: #F44336;
    font-size: 0.9rem;
    display: block;
    position: absolute;
    top: 23px;
    left: 0.75rem;
}

#parametersPanel .select-wrapper span.caret {
    top: 2px;
}

#parametersPanel .select-wrapper + label {
    top: -14px;
}

#login-body {
    background: #eee;
    height: 100vh;
}

#login-form {
    width: 300px;
    margin: auto;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    height: 2em;
}

#login-form .input-field label {
    top: 0;
}

#login-form .input-field label.active {
    transform: translateY(-90%);
}

#login-button {
    width: 100%;
    margin-top: 7px;
}

#login-error-label {
    color: #F44336;
    line-height: 1em;
    font-size: 0.9em;
    height: 2em;
}