html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #eee;
}

#scriptsPanel {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#scriptsList {
    border-right: 1px solid #C8C8C8;
    width: 300px;

    background: white;

    display: flex;
    flex-direction: column;

    box-shadow: 7px 0 8px -4px #888888;
    -webkit-box-shadow: 7px 0 8px -4px #888888;
    -moz-box-shadow: 7px 0 8px -4px #888888;
}

#listHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 1px solid transparent; /* This is to make the header on the same level as the script header */

    flex-shrink: 0;

    position: relative;
}

#serverHeader {
    flex-grow: 1;
}

#searchField {
    width: calc(100% - 8px);
    height: 1.5rem;
    float: right;
    padding: 0;
    margin: 0;
}

#searchPanel {
    padding: 16px 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 54px;
    background: white;
}

#searchField.collapsed {
    width: 0;
}

#searchButton {
    margin-top: 1px;
}

#githubLink {
    margin: 1rem;
    display: block;
}

#scripts {
    overflow: auto;
    overflow-wrap: normal;
    border: none;
    margin: 0;

    flex-grow: 1;
}

#scripts .collection-item {
    border: none;
    padding-right: 32px;
}

#scripts .collection-item .menu-item-state {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    top: calc(50% - 12px);
    display: none;
}

#scripts .collection-item .menu-item-state > .check-icon {
    color: #26a69a;
    display: none;
    font-size: 24px;
}

#scripts .collection-item.active .menu-item-state > .check-icon {
    color: white;
}

#scripts .collection-item .menu-item-state > .preloader-wrapper {
    display: none;
    width: 100%;
    height: 100%;
}

#scripts .collection-item .menu-item-state.executing,
#scripts .collection-item .menu-item-state.finished {
    display: inline;
}

#scripts .collection-item .menu-item-state.executing > .check-icon {
    display: none;
}

#scripts .collection-item .menu-item-state.executing > .preloader-wrapper {
    display: block;
}

#scripts .collection-item .menu-item-state.finished > .check-icon {
    display: block;
}

#scripts .collection-item .menu-item-state.finished > .preloader-wrapper {
    display: none;
}

#scripts .collection-item.active .preloader-wrapper .spinner-layer {
    border-color: white;
}

#scripts .collection-item .preloader-wrapper .spinner-layer {
    border-color: #26a69a;
}

#logoutPanel {
    height: 45px;
    width: 100%;
    border-top: 1px solid #C8C8C8;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

#logoutButton {
    margin: 0 10px;
}

#content-panel {
    flex: 1;

    background: white;
    padding-bottom: 12px;

    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    #scriptsPanel {
        display: flex;
        flex-flow: column;
    }

    #content-panel {
        border-top: 1px solid #C8C8C8;
        border-left: none;
    }
}

#script-header {
    border-bottom: 1px solid #C8C8C8;

    background: url("../images/titleBackground.jpg") no-repeat center;
    background-size: cover;
}

#script-panel-container {
    height: 100%;
}

#content-panel .script-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-panel .script-description {
    margin: 15px 17px 0;
}

#content-panel .script-parameters-panel {
    margin-top: 15px;
}

#content-panel .script-parameters-panel .parameter {
    margin: 7px 0 20px 24px;

    display: inline-block;
}

#content-panel .script-parameters-panel .parameter input {
    margin: 0;
}

#content-panel .log-panel {
    flex: 1;

    position: relative;
    min-height: 0;

    background: #f4f2f0;

    width: calc(100% - 24px);

    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;

    border: solid 1px rgba(51, 51, 51, 0.12);
    border-radius: 2px;
}

/*noinspection CssInvalidPropertyValue,CssOverwrittenProperties*/
#content-panel .log-content {
    display: block;
    overflow-y: auto;
    height: 100%;

    font-size: .875em;

    padding: 1.5em;

    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#content-panel .log-panel-shadow {
    position: absolute;

    width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 5;

    pointer-events: none;
}

.shadow-top-bottom {
    box-shadow: 0 7px 8px -4px #888888 inset, 0 -7px 8px -4px #888888 inset;
    -webkit-box-shadow: 0 7px 8px -4px #888888 inset, 0 -7px 8px -4px #888888 inset;
    -moz-box-shadow: 0 7px 8px -4px #888888 inset, 0 -7px 8px -4px #888888 inset;
}

.shadow-top {
    box-shadow: 0 7px 8px -4px #888888 inset;
    -webkit-box-shadow: 0 7px 8px -4px #888888 inset;
    -moz-box-shadow: 0 7px 8px -4px #888888 inset;
}

.shadow-bottom {
    box-shadow: 0 -7px 8px -4px #888888 inset;
    -webkit-box-shadow: 0 -7px 8px -4px #888888 inset;
    -moz-box-shadow: 0 -7px 8px -4px #888888 inset;
}

#content-panel input {
    height: 1.5em;
    width: auto;
}

#content-panel .input-field label {
    top: 0;
}

#content-panel .input-field [type="checkbox"] + label {
    left: 0;
    padding-left: 28px;
}

#content-panel .input-field label.active {
    transform: translateY(-90%);
}

#content-panel .button-execute {
    width: 80%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: 6px;
    display: inline;
}

#content-panel .button-stop {
    width: calc(96% - 80% - 12px - 5px); /* width without margins - executeButton - margin between button - rounding error */
    margin-left: 12px;
    margin-right: 2%;
    margin-top: 6px;
    display: inline;
}

#content-panel .script-input-panel {
    width: calc(100% - 24px);
    margin: 18px 12px 0;
}

#content-panel .script-input-panel input {
    margin: 0;
    width: 100%;
}

#content-panel .validation-panel {
    overflow-y: auto;
    flex: 1;

    margin: 17px 12px 7px;
}

#content-panel .validation-errors-list {
    margin-left: 17px;
}

#content-panel .validation-errors-list li {
    color: #F44336;
}

#error-panel {
    margin-left: 17px;
    color: #F44336;
    margin-top: 17px;
}

/* materialized styles */
.header {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1.header {
    font-size: 2rem;
    padding: 1rem;
}

h2.header {
    font-size: 1.82rem;
    padding: 0.9rem;
}

h3.header {
    font-size: 1.64rem;
    padding: 0.8rem;
}

h4.header {
    font-size: 1.46rem;
    padding: 0.7rem;
}

h5.header {
    font-size: 1.28rem;
    padding: 0.6rem;
}

h6.header {
    font-size: 1.1rem;
    padding: 0.5rem;
}

#content-panel .script-parameters-panel input[type="text"]:invalid,
#content-panel .script-parameters-panel input[type="number"]:invalid {
    border-bottom: 1px solid #e51c23;
    box-shadow: 0 1px 0 0 #e51c23;
}

#content-panel .script-parameters-panel .input-field:after {
    content: attr(data-error);
    color: #F44336;
    font-size: 0.9rem;
    display: block;
    position: absolute;
    top: 23px;
    left: 0.75rem;
}

#content-panel .script-parameters-panel .select-wrapper span.caret {
    top: 2px;
}

#content-panel .script-parameters-panel .select-wrapper + label {
    top: -14px;
}

#welcome-panel {
    flex: 1;
    color: #9e9e9e;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    margin-top: 15px;
}

#welcome-cookie-text {
    margin-top: 8px;
}

#login-body {
    height: 100vh;
}

#login-form {
    width: 300px;
    margin: auto;

    border-top: 50px solid;
    -moz-border-image: url("../images/titleBackground.jpg") 300;
    -webkit-border-image: url("../images/titleBackground.jpg") 300;
    -o-border-image: url("../images/titleBackground.jpg") 300;
    border-image: url("../images/titleBackground.jpg") 300;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    height: 2em;
}

#login-form .input-field label {
    top: 0;
}

#login-form .input-field label.active {
    transform: translateY(-90%);
}

#login-button {
    width: 100%;
    margin-top: 7px;
}

#login-error-label {
    color: #F44336;
    line-height: 1em;
    font-size: 0.9em;
    height: 2em;
}

#content-panel .files-download-panel {
    margin: 12px 12px 0;
}

#content-panel .files-download-panel a {
    color: #26a69a;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    text-transform: none;
}

#content-panel .files-download-panel a > img {
    width: 12px;
    margin-left: 10px;
    vertical-align: middle;
}