body {
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.page {
    height: 100vh;
}

.page-title {
    width: 100%;
    height: 64px;
    line-height: 64px;

    padding-left: 32px;

    font-size: 18px;
    font-weight: 400;

    vertical-align: baseline;

    color: #FFF;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.page .section {
    height: calc(100vh - 64px);
    width: 100%;
    overflow: auto;
}
