span.text_color_red,
span.text_color_red a {
    color: #f44336;
}

span.text_color_black,
span.text_color_black a {
    color: #000;
}

span.text_color_green,
span.text_color_green a {
    color: #689f38;
}

span.text_color_yellow,
span.text_color_yellow a {
    color: #fdd835;
}

span.text_color_blue,
span.text_color_blue a {
    color: #1976D2;
}

span.text_color_magenta,
span.text_color_magenta a {
    color: #d81b60;
}

span.text_color_cyan,
span.text_color_cyan a {
    color: #0097A7;
}

span.text_color_lightgray,
span.text_color_lightgray a {
    color: #BDBDBD;
}

span.text_color_darkgray,
span.text_color_darkgray a {
    color: #616161;
}

span.text_color_lightred,
span.text_color_lightred a {
    color: #EF9A9A;
}

span.text_color_lightgreen,
span.text_color_lightgreen a {
    color: #9ccc65;
}

span.text_color_lightyellow,
span.text_color_lightyellow a {
    color: #fff59d;
}

span.text_color_lightblue,
span.text_color_lightblue a {
    color: #90CAF9;
}

span.text_color_lightmagenta,
span.text_color_lightmagenta a {
    color: #f06292;
}

span.text_color_lightcyan,
span.text_color_lightcyan a {
    color: #26C6DA;
}

span.text_color_white,
span.text_color_white a {
    color: #fff;
}

span.background_red,
span.background_red a {
    background-color: #f44336;
}

span.background_black,
span.background_black a {
    background-color: #000;
}

span.background_green,
span.background_green a {
    background-color: #689f38;
}

span.background_yellow,
span.background_yellow a {
    background-color: #fdd835;
}

span.background_blue,
span.background_blue a {
    background-color: #1976D2;
}

span.background_magenta {
    background-color: #d81b60;
}

span.background_cyan {
    background-color: #0097A7;
}

span.background_lightgray {
    background-color: #BDBDBD;
}

span.background_darkgray {
    background-color: #616161;
}

span.background_lightred {
    background-color: #EF9A9A;
}

span.background_lightgreen {
    background-color: #9ccc65;
}

span.background_lightyellow {
    background-color: #fff59d;
}

span.background_lightblue {
    background-color: #90CAF9;
}

span.background_lightmagenta {
    background-color: #f06292;
}

span.background_lightcyan {
    background-color: #26C6DA;
}

span.background_white {
    background-color: #fff;
}

span.text_style_bold {
    font-weight: bold;
}

span.text_style_underlined {
    text-decoration: underline;
}

span.text_style_dim {
    opacity: 0.5;
}

span.text_style_hidden {
    opacity: 0;
}
