html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #eee;
}

#scriptsPanel {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#scriptsList {
    border-right: 1px solid #C8C8C8;
    width: 300px;

    background: white;

    display: flex;
    flex-direction: column;

    box-shadow: 7px 0 8px -4px #888888;
    -webkit-box-shadow: 7px 0 8px -4px #888888;
    -moz-box-shadow: 7px 0 8px -4px #888888;
}

#listHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 1px solid transparent; /* This is to make the header on the same level as the script header */

    flex-shrink: 0;

    position: relative;
}

#serverHeader {
    flex-grow: 1;
    margin-left: 0.4rem;
}

#searchField {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    float: right;
    padding: 0;
    margin: 0;
}

#searchPanel {
    padding: 16px 10px;
    width: calc(100% - 80px - 10px);
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 80px;
    background: white;
    transition: width 0.3s;
}

#searchPanel.collapsed {
    width: 0;
}

#searchButton {
    margin-top: 1px;
}

#header-link {
    margin: 0 1rem;
    display: flex;
    line-height: 0;
}

#scripts {
    overflow: auto;
    overflow-wrap: normal;
    border: none;
    margin: 0;

    flex-grow: 1;
}

#scripts .collection-item {
    border: none;
    padding-right: 32px;
}

#scripts .collection-item .menu-item-state {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    top: calc(50% - 12px);
    display: none;
}

#scripts .collection-item .menu-item-state > .check-icon {
    color: #26a69a;
    display: none;
    font-size: 24px;
}

#scripts .collection-item.active .menu-item-state > .check-icon {
    color: white;
}

#scripts .collection-item .menu-item-state > .preloader-wrapper {
    display: none;
    width: 100%;
    height: 100%;
}

#scripts .collection-item .menu-item-state.executing,
#scripts .collection-item .menu-item-state.finished {
    display: inline;
}

#scripts .collection-item .menu-item-state.executing > .check-icon {
    display: none;
}

#scripts .collection-item .menu-item-state.executing > .preloader-wrapper {
    display: block;
}

#scripts .collection-item .menu-item-state.finished > .check-icon {
    display: block;
}

#scripts .collection-item .menu-item-state.finished > .preloader-wrapper {
    display: none;
}

#scripts .collection-item.active .preloader-wrapper .spinner-layer {
    border-color: white;
}

#scripts .collection-item .preloader-wrapper .spinner-layer {
    border-color: #26a69a;
}

#logoutPanel {
    height: 45px;
    width: 100%;
    border-top: 1px solid #C8C8C8;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

#logoutButton {
    margin-left: 10px;
}

#content-panel {
    flex: 1;

    background: white;
    padding-bottom: 12px;

    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    #scriptsPanel {
        flex-flow: column;
    }

    #content-panel {
        border-top: 1px solid #C8C8C8;
        border-left: none;
    }
}

#script-header {
    border-bottom: 1px solid #C8C8C8;

    background: url("../images/titleBackground.jpg") no-repeat center;
    background-size: cover;
}

#script-panel-container {
    flex: 1 1 auto;
    display: flex;

    /* (firefox)
    we have to specify min-size explicitly, because by default it's content size.
    It means, that when child content is larger than parent, it will grow out of parent
    See https://drafts.csswg.org/css-flexbox/#min-size-auto
    and https://bugzilla.mozilla.org/show_bug.cgi?id=1114904
    */
    min-height: 0;
}

#script-panel-container.collapsed {
    flex-grow: 0;
}

#content-panel .script-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#content-panel .script-description {
    margin: 15px 17px 0;
}

#content-panel .script-parameters-panel {
    margin-top: 15px;
    margin-right: 24px;
    display: flex;
    flex-wrap: wrap;
}

#content-panel .script-parameters-panel .parameter {
    margin: 7px 0 20px 24px;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 180px;
    max-width: 220px;
}

#content-panel .script-parameters-panel .parameter input {
    margin: 0;

    font-size: 1rem;
    height: 1.5em;
    line-height: 1.5em;
}

#content-panel .script-parameters-panel .parameter > label {
    transform: none;
    font-size: 1rem;
}

#content-panel .script-parameters-panel .parameter > label.active {
    transform: translateY(-70%) scale(0.8);
}

.script-parameters-panel .input-field input[type=checkbox] + span {
    padding-left: 28px;
}

#content-panel .log-panel {
    margin-right: 12px;
    margin-left: 12px;
    width: calc(100% - 24px);
    margin-top: 12px;
}

#content-panel .input-field label {
    top: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content-panel .button-execute {
    width: 80%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: 6px;
    display: inline;
}

#content-panel .button-stop {
    width: calc(96% - 80% - 12px - 5px); /* width without margins - executeButton - margin between button - rounding error */
    margin-left: 12px;
    margin-right: 2%;
    margin-top: 6px;
    display: inline;
}

#content-panel .script-input-panel {
    width: calc(100% - 24px);
    margin: 18px 12px 0;
}

#content-panel .script-input-panel input {
    margin: 0;
    width: 100%;
    height: 1.5em;
    font-size: 1rem;
}

#content-panel .script-input-panel > label {
    transform: translateY(-30%);
    margin-left: 2px;
}

#content-panel .script-input-panel > label.active {
    color: #26a69a;
    transform: translateY(-70%) scale(0.8);
}

#content-panel .validation-panel {
    overflow-y: auto;
    flex: 1;

    margin: 17px 12px 7px;
}

#content-panel .validation-errors-list {
    margin-left: 17px;
}

#content-panel .validation-errors-list li {
    color: #F44336;
}

#error-panel {
    margin-left: 17px;
    color: #F44336;
    margin-top: 17px;
}

/* materialized styles */
.header {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1.header {
    font-size: 2rem;
    padding: 1rem;
}

h2.header {
    font-size: 1.82rem;
    padding: 0.9rem;
}

h3.header {
    font-size: 1.64rem;
    padding: 0.8rem;
}

h4.header {
    font-size: 1.46rem;
    padding: 0.7rem;
}

h5.header {
    font-size: 1.28rem;
    padding: 0.6rem;
}

h6.header {
    font-size: 1.1rem;
    padding: 0.5rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browsertele-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    color: rgba(0, 0, 0, 0.87);
}

input[type=checkbox]:not(.browser-default) + span {
    color: #9e9e9e;
}

.btn-flat:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#content-panel .select-dropdown li.disabled,
#content-panel .select-dropdown li.disabled > span,
#content-panel .select-dropdown li.optgroup {
    background-color: transparent;
}

#content-panel .script-parameters-panel input[type="text"]:invalid,
#content-panel .script-parameters-panel input[type="number"]:invalid {
    border-bottom: 1px solid #e51c23;
    box-shadow: 0 1px 0 0 #e51c23;
}

#content-panel .script-parameters-panel .input-field:after {
    content: attr(data-error);
    color: #F44336;
    font-size: 0.9rem;
    display: block;
    position: absolute;
    top: 23px;
    left: 0.75rem;
}

#content-panel .script-parameters-panel .select-wrapper + label {
    transform: scale(0.8);
    top: -18px;
}

#content-panel .script-parameters-panel .dropdown-content {
    max-width: 50vw;
    min-width: 100%;
    white-space: nowrap;

    margin-bottom: 0;
}

#content-panel .script-parameters-panel .dropdown-content > li > span {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#welcome-panel {
    flex: 1;
    color: #9e9e9e;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    margin-top: 15px;
}

#welcome-cookie-text {
    margin-top: 8px;
}

#login-body {
    height: 100vh;
}

#login-panel {
    width: 300px;
    margin: auto;

    border-top: 50px solid;
    -moz-border-image: url("../images/titleBackground.jpg") 300;
    -webkit-border-image: url("../images/titleBackground.jpg") 300;
    -o-border-image: url("../images/titleBackground.jpg") 300;
    border-image: url("../images/titleBackground.jpg") 300;
}

#login-panel .login-form .input-field {
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
}

#login-panel .login-form input[type="text"],
#login-panel .login-form input[type="password"] {
    height: 2em;
    margin-bottom: 1em;
}

#login-panel .login-form .input-field label {
    transform: translateY(4px);
}

#login-panel .login-form .input-field label.active {
    transform: translateY(-70%) scale(0.8);
}

#credentials-login-button {
    width: 100%;
    margin-top: 7px;
}

#login-panel .login-info-label {
    line-height: 1em;
    font-size: 0.9em;
    height: 2em;

    text-align: center;
}

#login-panel .login-info-label.error {
    color: #F44336;
}

#login-panel .login-google_oauth .login-info-label {
    margin-top: 16px;
}

#login-google_oauth-button {
    height: 40px;
    width: 188px;
    padding-left: 34px;
    margin: auto;
    margin-top: 34px;
    display: block;

    font-size: 14px;
    font-weight: 500;
    color: #757575;

    border-radius: 2px;
    box-shadow: 0 1px 3px -1px #202020;
    border: none;

    background-image: url('../images/g-logo-plain.png');
    background-color: white;
    background-position-y: 50%;
    background-position-x: -4px;
    background-size: 48px;
    background-repeat: no-repeat;
}

#login-google_oauth-button:active {
    background-color: #EEE;
    background-image: url('../images/g-logo-plain-pressed.png');
}

#login-google_oauth-button[disabled] {
    color: #B0B0B0;
}

#content-panel .files-download-panel {
    margin: 12px 12px 0;
}

#content-panel .files-download-panel a {
    color: #26a69a;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    text-transform: none;
}

#content-panel .files-download-panel a > img {
    width: 12px;
    margin-left: 10px;
    vertical-align: middle;
}

/*noinspection CssInvalidPropertyValue,CssOverwrittenProperties*/
.log-content {
    display: block;
    overflow-y: auto;
    height: 100%;

    font-size: .875em;

    padding: 1.5em;

    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}